@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Jost';
    font-weight: 400;
    text-decoration: none;
    max-width: 100%;
    
}

.navbar-bg-light {
  border: none;
}

.container {
text-align: center;
font-size: 48px;
font-weight: 600;
letter-spacing: 5px;
}

:root {
    --bs-body-bg: #B2AD83;
}

form {
  margin: auto;
  width: 25%;
  padding: 10px;
}

.btn-login {
 text-align: center;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 230px;
  height: 100%;
  font-size: 22px;
  background: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar header {
  padding-left: 24px;
  margin-top: 35px;
  font-size: 26px;
  line-height: 70px;
  user-select: none;
}

.sidebar ul a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 22px;
  color: #868585;
  padding-left: 25px;
  box-sizing: border-box;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #868585;
  transition: .1s;
}

ul li:hover a{
  color: #fff;
  background: #ce2727;
  padding-left: 50px;
}

.dashboard{
  margin-top: 60px;
  margin-left: 20%;
}

.card-body h5 {
  font-size: 38px;
}

.card-body p {
  font-size: 24px;
}

